* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0 auto;
  display: flex;
  flex-direction: column;

  max-width: 375px;
}

header {
  width: 375px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 8px -6px gray;

  position: fixed;
  top: 0;

  z-index: 6;
  background-color: white;
  padding: 0 20px;
}

header img {
  height: 53px;
  width: 75px;
}

header ion-icon {
  font-size: 45px;
  cursor: pointer;
}

.chat {
  min-height: calc(100vh - 160px);
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;

  background-color: #f3f3f3;
  margin-top: 80px;
  padding-top: 25px;
}

.mensagem {
  width: 100%;

  padding: 10px 8px;
  margin-bottom: 4px;

  background-color: white;
  word-wrap: break-word;

  font-size: 14px;
}

.private {
  background-color: #ffdede;
}

.status {
  background-color: #dcdcdc;
}

.tempo {
  display: inline-block;
  color: #aaaaaa;
  margin-right: 8px;
}

.from,
.to {
  font-weight: bold;
}

.texto {
  display: inline;
  line-height: 1.4;
}

footer {
  width: 375px;
  height: 80px;
  background-color: white;
  box-shadow: 0 -4px 8px -6px gray;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  padding-bottom: 10px;

  position: fixed;
  bottom: 0vh;

  z-index: 6px;
}

footer input {
  height: 30px;
  font-size: 18px;

  border: none;
}

footer input:focus {
  outline: none;
}

footer input::placeholder {
  color: #000000;
  font-style: italic;
}

footer ion-icon {
  font-size: 26px;
  position: relative;
  right: 0;
  bottom: 0px;
  cursor: pointer;
}

.frasePrivate {
  font-weight: 200;
  font-size: 14px;
  position: fixed;
  left: calc(50vw - 375px / 2 + 10px);
  bottom: 13px;

  z-index: 6;
}

.cobertura {
  width: 375px;
  max-width: 375px;
  height: 100vh;

  top: 0;

  position: fixed;

  z-index: 7;

  background-color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
}
.menu {
  width: 259px;
  height: 100vh;

  left: calc(50vw - 70px);

  position: fixed;
  top: 0;

  z-index: 8;
  background-color: white;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.menu h3 {
  height: 84px;
  width: 100%;
  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 16px;
  font-weight: bold;
}

.online {
  display: flex;
  flex-direction: column;
}

.umaLinha {
  min-height: 36px;
  width: 295px;
  padding: 0 16px;

  display: flex;
  align-items: center;

  font-size: 16px;
  position: relative;

  cursor: pointer;
}

.umaLinha ion-icon {
  font-size: 24px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.umaLinha p {
  word-break: break-all;
}

.umaLinha img {
  position: absolute;
  right: 60px;
  display: none;
}

.entrada {
  width: 375px;
  max-width: 375px;
  height: 100vh;

  top: 0;

  position: fixed;

  z-index: 11;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.colocarNome {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: calc(50vh - 58px);
}

.entrada img {
  height: 92px;
  width: 130px;

  margin: 72px 0;
}

.colocarNome input {
  height: 54px;
  width: 261px;

  border: 1px solid #d7d7d7;
  border-radius: 4px;

  margin-bottom: 16px;

  text-align: center;

  font-size: 18px;
  color: AEAEAE;
}

.colocarNome button {
  height: 45px;
  width: 109px;

  border: none;
  border-radius: 9px;

  background-color: #e7e7e7;
  color: #696969;
  font-size: 18px;

  cursor: pointer;
}

.carregando {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: calc(50vh - 300px);
}

.carregando img {
  height: 291px;
  width: 441px;
}

.carregando p {
  position: relative;
  top: -150px;
  left: 10px;

  font-size: 18px;
}

.hidden {
  display: none;
}

.selecionado img {
  display: block;
}
